<div class="section_profile">
  <div><img src="{{model.pic}}" /></div>
  <div class="user_name">{{model.name}}</div>
</div>
<div id="timer" class="timer">Timer: 0</div>
<div class="section_math">
  <div id="score" class="score">0</div>
  <div id="card" class="card">
    <div id="result" class="result hide">
      <img id="image_result" src="/img/happy.png" />
      <span id="time_next"></span>
    </div>
    <div id="operand_1" class="operand operand_1"></div>
    <div id="operand_2" class="operand operand_2"></div>
    <div id="operator" class="operator">+</div>
    <div class="line"></div>
    <div class="answer">
      <input type="text" id="input_answer" selectiondirection="forward" autofocus>
    </div>
  </div>
  <div class="instructions">press enter to submit answer</div>
  <div id="again" class="again hide"><a href="javascript:window.location.reload();">Play Again</a></div>
</div>